@model STACK.ViewModels.QuestionAnswerViewModel

@{
    ViewBag.Title = "Details of the question";
}


<div>
    <h2>Question Details</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.Date)
        </dd>

        <dt>
            Asked By
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.ApplicationUser.UserName)
        </dd>

    </dl>
</div>

<h2>Answers to the question</h2>
@foreach (var ans in Model.Question.Answers)
{
    @Html.Partial("_Answer", ans)
}

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Edit Question", "Edit", new { id = Model.Question.Id }) |
        @Html.ActionLink("Delete Question", "Delete", new { id = Model.Question.Id }) |
        @Html.ActionLink("Back to Questions", "Index")
    </p>
    <h2>Leave your answer</h2>
    @Html.Partial("_AnswerForm", Model.NewAnswer)
}
else
{
    <p>
        @Html.ActionLink("Back to Questions", "Index")
    </p>
}