@model IEnumerable<STACK.Models.Question>

@{
    ViewBag.Title = "Questions";
}




<table class="table table-striped">
    <tr>
    <th>
        <strong>Questions</strong>
    </th>
    <th>
        Number of Answers:
    </th>
    <th>
        Date:
    </th>
    <th>
        Asked by:
    </th>
    <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink((item.Text), "Details", "Questions", new { id = item.Id }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answers.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
        </td>
    </tr>
}
</table>

<strong>@Html.ActionLink("Ask a new question", "Create")</strong>
    

